/bin/
/obj/

*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
.idea/
*.DotSettings

*.dll
*.exe
*.pdb
*.cache
*.log

publish/
dist/
out/

*.nupkg
*.snupkg
packages/
.nuget/

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

*.tmp
*.bak
*.swp
*.swo
